<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Cadastro</title>
</head>
<body>
        <div class="tudo">
            <div class="logo">
                <img src="../static/logo.png">
            </div>
            <form  class="inp" action="/cadastro" method="POST">
                <input type="text" name="cpf" placeholder="Informe seu CPF">
                <input type="text" name="name" placeholder="Informe seu nome">
                <input type="text" name="name" placeholder="Informe seu e-mail">
                <input type="password" name="senha" placeholder="Informe sua senha">
                <div class="btt">
                    <button  type="submit">Cadastrar-se</button>
                </div>
            </form>
        </div>
</body>
</html>